@import url(./globals.css);

.tabs {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: .2rem;
    justify-content: center;
    box-sizing: border-box;
    height: 90vh;
}
.tabs input[type="radio"] {
    display: none;
}
.tabs label {
    box-sizing: border-box;
    padding: 2rem;
    text-align: center;
    width: 20vw;
    height: 10vh;
    background-color: hsl(var(--pry-clr));
    color: white;
    cursor: pointer;
    font-size: 3vw;
}
.tabs label:hover {
    color: hsl(var(--sry-clr)/.5);
    background-image: linear-gradient(0deg, transparent,hsl(var(--sry-clr)/.05));
}
.tabs label:active{
    transform: scale(0.95);
} 
.tabs .tab {
    width: 100vw;
    height: 100%;
    padding: 5vh 20vw;
    background-color: hsl(var(--pry-clr));
    order: 1;
    display: none;
}
.tabs .tab h1{
    color: white;
    position: absolute;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 2em;
    animation: fadein .5s ease-out;
}
.tabs input[type='radio']:checked + label + .tab {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs input[type="radio"]:checked + label {
    color: hsl(var(--sry-clr));
    border-top: .2rem solid hsl(var(--sry-clr));
    background-image: linear-gradient(0deg, transparent, hsl(var(--sry-clr)/.09));
    text-shadow: 0 0 .3rem hsl(var(--sry-clr));
}
